<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block  title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    </head>
    <body>
        <nav>
            <li><a href ="{% url 'home' %}> Home </li>
            {% comment %} <li><a href ="{% url 'generate_qr' %}> Generate QR </li>
            <li><a href ="{% url 'scan_qr' %}> Scan QR </li>  {% endcomment %}
        </nav>
        <h1> class = "main-heading">GS Petrol Pump Payment</h1>
        <script src="" async defer></script>
    </body>
</html>